@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: 'Twitter Chirp Regular' ,BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
    src: url('subset-TwitterChirp.woff2') format('woff2'),
        url('subset-TwitterChirp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    -webkit-font-smoothing: antialiased;

}

body{
    @apply bg-black text-white text-[15px] tracking-normal;

} 

